default:
    extensions:
        FriendsOfBehat\CrossContainerExtension: ~
        FriendsOfBehat\SymfonyExtension:
            kernel:
                bootstrap: 'vendor/autoload.php'
                path: 'src/Infrastructure/Kernel.php'
                class: 'App\Infrastructure\Kernel'
        FriendsOfBehat\ContextServiceExtension:
           imports:
               - 'tests/Behat/Resources/config/services.xml'
    suites:
        beer_application_features:
            paths: ['%paths.base%/features']
            contexts_services:
                - 'tests.behat.context.application.beer_context'
                - 'tests.behat.context.application.security_context'
                - 'tests.behat.context.hook.doctrine_context'
                - 'tests.behat.context.setup.connoisseur_context'
            filters:
                tags: '@beer && @application'
        connoisseur_application_features:
            paths: ['%paths.base%/features']
            contexts_services:
                - 'tests.behat.context.application.connoisseur_context'
                - 'tests.behat.context.hook.doctrine_context'
            filters:
                tags: '@connoisseur && @application'
        beer_api_features:
            paths: ['%paths.base%/features']
            contexts_services:
                - 'tests.behat.context.api.beer_context'
                - 'tests.behat.context.api.security_context'
                - 'tests.behat.context.hook.doctrine_context'
                - 'tests.behat.context.setup.beer_context'
                - 'tests.behat.context.setup.connoisseur_context'
            filters:
                tags: '@beer && @api'
        connoisseur_api_features:
            paths: ['%paths.base%/features']
            contexts_services:
                - 'tests.behat.context.api.connoisseur_context'
                - 'tests.behat.context.hook.doctrine_context'
            filters:
                tags: '@connoisseur && @api'
