default:
    extensions:
        FriendsOfBehat\CrossContainerExtension: ~
        FriendsOfBehat\SymfonyExtension:
            kernel:
                bootstrap: 'vendor/autoload.php'
                path: 'src/Infrastructure/Kernel.php'
                class: 'App\Infrastructure\Kernel'
        FriendsOfBehat\ContextServiceExtension:
           imports:
               - 'tests/Behat/Resources/config/services.xml'
    suites:
        application_features:
            paths:    ['%paths.base%/features']
            contexts_services:
                - 'tests.behat.context.application_context'
                - 'tests.behat.context.hook.doctrine_context'
            filters:
                tags: '@application'
        api_features:
            paths:    ['%paths.base%/features']
            contexts_services:
                - 'tests.behat.context.api_context'
                - 'tests.behat.context.hook.doctrine_context'
                - 'tests.behat.context.setup_context'
            filters:
                tags: '@api'
